source/jade/index.html
<!-- ==============HANDY LINKS==============  -->
<!-- ======================================== -->
<!--ARIA ROLES http://knowledge.onsubject.com/2011/02/06/html-role-attributes/ -->
<!--ARIA ROLES MORE http://code.tutsplus.com/tutorials/accessibility-part-3-aria--cms-21793 -->
<!-- ======================================== -->

<!DOCTYPE html>
<html lang="pl" class="no-js">
<head>
	<!-- ======================================== -->
	<!-- BASE-->
	<!-- ======================================== -->
	<meta charset="utf-8">
	<title>Grace Chambre</title>

	<!-- ======================================== -->
	<!-- MODERNIZR JS-->
	<!-- ======================================== -->
	<script language="JavaScript" type="text/javascript" src="js/modernizr.code73.min.js"></script>

	<!-- ======================================== -->
	<!-- STAY MOBILE FRIENDLY -->
	<!-- http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972 -->
	<!-- ======================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- ======================================== -->
	<!-- CSS -->
	<!-- ======================================== -->
	<link rel="stylesheet" href="css/code73-style.css">

	<!-- ======================================== -->
	<!-- WEB FONTS -->
	<!-- ======================================== -->
	<!-- FONT AWSOME -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- SANS -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,300italic,400italic,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Muli:400,400italic,300italic,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700italic,400italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!-- SERIF -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Tienne' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300,700italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700italic,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!-- SCRIPT -->
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

	<!-- ======================================== -->
	<!-- JAVASCRIPT-->
	<!-- ======================================== -->
	<script language="JavaScript" type="text/javascript" src="js/jquery.min.js">							</script>
	<script language="JavaScript" type="text/javascript" src="js/velocity.min.js">							</script>
	<script language="JavaScript" type="text/javascript" src="js/velocity.ui.min.js">					</script>
	<script language="JavaScript" type="text/javascript" src="js/Code73/loading-page.js"> 	</script>
</head>
<body>

<div id="container">
	<header >
		<figure role="banner" class="hero bg-hero"></figure>
		<h1 id="about" >Grace Chambre</h1>
		<nav role="navigation">
		   	<ul class="navbar onepage">
					<li class="tab" >
						<a href="#about" class=" " >o nas</a></li><li class="tab" >
						<a href="#home" class=" " >dom</a></li><li class="tab" >
						<a href="#room" class=" " >pokój</a></li><li class="tab" >
						<a href="#map" class=" " >mapa</a></li><li class="tab" >
						<a href="#contact" class=" " >kontakt</a></li>
				 </ul>
			 </nav>
	 </header>

	 	<section class="remove-border-top" >
	 		<article role="article" class="big"	>
	 			<p class="text-3">Jeśli pochodzicie z Polski i poszukujecie niedrogiego, wygodnego i przytulnego mieszkania w Tokio – bardzo dobrze trafiliście. Nazywam się Yoshida i jestem właścicielem kamienicy, w której wynajmuję mieszkania. Jedno z mieszkań przygotowałem specjalnie z myślą o gościach z Waszego kraju. Bardzo chętnie pomogę zarówno osobom, które chcą się tutaj zatrzymać na kilka tygodni, jak i tym, którzy myślą o przeprowadzce do Japonii na stałe. Zastanawiacie się pewnie dlaczego prowadzę tę stronę i skąd u mnie taka chęć niesienia pomocy Polakom? Odpowiedź z pewnością Was zaskoczy! Nie mówię po polsku, nigdy nie odwiedzałem Waszego kraju i tak naprawdę niewiele o nim wiem. Jednak czy ludzi nie łączą ciekawe zbiegi okoliczności? Pewnego dnia mój ojciec oglądał w telewizji program dokumentalny o relacjach polsko-japońskich. Wasz kraj był w nim przedstawiony w bardzo pozytywny sposób, mówiono o tym jak Polacy lubią Japonię, jak chętnie włączają się w pomoc innym oraz jak często nasze kraje pomagały sobie w sytuacjach krytycznych. Prezentowano również sylwetki Polaków, którzy interesują się Japonią.To nieprawdopodobne jak wielu z Was fascynuje się naszym krajem. Byliśmy z ojcem naprawdę poruszeni! Właśnie dlatego ojciec od razu podjął decyzję, że chce pomagać Polakom, którzy planują przyjazd do Tokio. I tak to wszystko się zaczęło... Znajdziecie na tej stronie wszystkie przydatne informacje dotyczące wynajmu.</p>
	 		</article>
	 	</section>

	 	<figure class="stripe bg-home"></figure>

	 	<section id="home" >
	 		<article role="article" class="half" >
	 			<h3>Witaj w domu!</h3>
	 			<p class="text-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ducimus soluta, quis vero natus. Placeat atque neque nostrum unde cupiditate earum laborum laboriosam consectetur, quae dicta rerum, non rem porro quidem facere explicabo officiis sed totam in obcaecati, assumenda delectus praesentium numquam. Assumenda nesciunt nostrum nulla maiores quasi aliquid in tenetur v magnam, laboriosam ipsa saepe accusamus fuga eaque illo rerum itaque tempora illum. Sed quisquam deleniti molestiae delectus veniam harum in repudiandae, quae distinctio, quidem incidunt quis quia. Iure, ducimus. Maxime libero iure harum, fuga nesciunt, perspiciatis aspernatur assumenda, quod maiores a reiciendis nihil vitae minus quaerat voluptate. tio explicabo architecto iste tenetur perspiciatis, voluptatibus alias amet sed, quo necessitatibus saepe vero molestias. Ratione perspiciatis voluptatibus dolore dolor itaque rerum sapiente porro incidunt, hic nisi, provident soluta alias repellendus obcaecati iste, quos nulla. Error, numquam perspiciatis animi veritatis debitis voluptatibus nostrum ipsa libero ducimus. Sint, veniam, inventore. Quos sed aliquid asperiores, iusto porro eius cupiditate tempora! Excepturi voluptates deleniti officiis voluptatum, id, molestiae officia a, veritatis consequatur natus nihil illum recusandae debitis obcaecati necessitatibus!</p>
	 		</article>

	 		<article role="article" class="half" >
	 			<p class="text-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ducimus soluta, quis vero natus. Placeat atque neque nostrum unde cupiditate earum laborum laboriosam consectetur, quae dicta rerum, non rem porro quidem facere explicabo officiis sed totam in obcaecati, assumenda delectus praesentium numquam. Assumenda nesciunt nostrum nulla maiores quasi aliquid in tenetur vel, quos quam voluptates natus. Sapiente adipisci, vero veritatis error labore dolore voluptate! Dolores earum saepe dolorum neaspernatur repudiandae non sapiente ratione numquam doloremque quo voluptatum facilis magumquam perspiciatis animi veritatis debitis voluptatibus nostrum ipsa libero ducimus. Sint, veniam, inventore. Quos sed aliquid asperiores, iusto porro eius cupiditate tempora! Excepturi voluptates deleniti officiis voluptatum, id, molestiae officia a, veritatis consequatur natus nihil illum recusandae debitis obcaecati necessitatibus!</p>
	 		</article>
	 	</section>

	 	<div id="room" class="Video-Container ">
	 		<iframe src="https://www.youtube.com/embed/OlC0uSCISZ0?loop=1&autohide=1&controls=1&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
	 	</div>

	 	<section>
	 		<article role="article" class="third">
	 			<h3>Pokój</h3>
	 			<p class="text-3">Mieszkanie to kawalerka z aneksem kuchennym i malutką łazienką oraz balkonem. Pokój wyposażony jest w sposób kompaktowy i kompleksowy, posiada wszystkie niezbędne sprzęty i meble.

MEBLE
- 2 komfortowe łóżka – antresole (możliwość dołożenia dodatkowego materaca do spania)
- 2 składane stoły, które mogą służyć zarówno do jedzenia, jak i do pracy
- 2 wygodne biurowe krzesła obrotowe na kółkach
- 2 szafki z szufladami na ubrania
- wieszaki na ubrania zamontowane pod łóżkami

ANEKS KUCHENNY
lodówka z zamrażarką
elektryczna kuchenka dwupalnikowa
zlew z filtrem do wody
suszarka do naczyń
garnki, patelnia
komplet sztućców i naczyń dla 3 osób
komplet ostrych noży


ŁAZIENKA – to typowa, malutka japońska łazienka kapsułowa
głęboka, niewielka wanna z prysznicem
umywalka
ubikacja
2 przyborniki na kosmetyki

Co gwarantujemy:
- bezprzewodowy dostęp do Internetu
- odkurzacz i inne akcesoria do sprzątania
- środki czystości
- kosmetyki (szampon, odżywka, mydło)
- apteczkę
- proszek do prania
- papier toaletowy
- folie i woreczki do przechowywania żywności
- monitoring kamienicy 24h na dobę </p>
	 		</article>

	 		<article role="article" class="third">
	 			<h3>Warunki</h3>
	 			<p class="text-3">Mieszkanie przygotowane jest dla dwóch osób. Jeśli te osoby nie są partnerami bądź przyjaciółmi/rodziną, powinny być tej samej płci. Przyjmujemy również pary/małżeństwa z dziećmi.
Od naszych lokatorów wymagamy: sprzątania mieszkania, segregowania i wynoszenia śmieci wg ustalonego dla domu harmonogramu, zachowania ciszy nocnej i poprawnych kontaktów z sąsiadami.
Wymagamy paszportu lub karty rejestracyjnej cudzoziemca, których kopię zrobimy na początku pobytu.
Niestety nie mówimy po polsku, znamy podstawowe zwroty po angielsku i jesteśmy osobami komunikatywnymi. Mieszkamy w tym samym budynku, dlaczego w razie jakichkolwiek problemów czy wątpliwości służymy naszym lokatorom pomocą. </p>
	 		</article>

	 		<article role="article" class="third">
	 			<h3>Cena</h3>
	 			<p class="text-3">45 000 jenów za osobę miesięcznie
ok. 1500 jenów za dobę

Koszty prądu, wody, gazu i Internetu oraz kosmetyków i środków czystości wliczone są w cenę mieszkania. Nie zapewniamy wyżywienia. Preferujemy dłuższy wynajem – co najmniej 1 miesiąc.
Na początku pobieramy opłatę miesięczną 45 000 jenów oraz zwrotny depozyt w wysokości 25 000 jenów. Cały depozyt podlega zwrotowi, jeśli przy wyprowadzce nie ma w mieszkaniu żadnych ubytków lub zniszczeń.</p>
	 		</article>
	 	</section>

	 	<figure id="map" class="stripe-special bg-map"></figure>

	 	<section>
	 		<article role="article" class="half">
	 			<h3>Umeda</h3>
	 			<p class="text-3">To spokojna, pełna niewielkich kamienic i domków okolica. Jej położenie nad rzeką Arakawa sprawia, że ma rekreacyjny i sportowy charakter. Bulwary nad rzeką to świetne miejsce do uprawiania sportu i odpoczynku.

W okolicy (w odległości nie dłuższej niż 3 min.) znajdują się:
sklep całodobowy (LAWSON 100 jen)
market
duży supermarket z tanim towarem i targiem warzywnym
restauracje
bary i puby
poczta
bank
fryzjer
siłownia
komisariat policji
szpital, okulista, dentysta, klinika ortopedyczna

KOMUNIKACJA I TRANSPORT:
3 min. od domu znajduje się przystanek autobusowy Linia 47 (m.in. w kierunku Kitasenju) i Linia 43 (m.in. w kierunku Asakusa). Kitesenju to duża stacja przesiadkowa, z której odjeżdżają 2 linie metra, JR-line i autobusy.

Dojazd z lotniska:

opcja dłuższa, budżetowa:
linią Keisei Honsen Express do dworca Keisei Ueno, a następnie linią Hibiya na Gotanno i 8 min. pieszko lub taxi
czas: ok. 80 min., koszt: ok. 1050 jenów (taxi z Gotanno dodatkowo 750 jenów)

opcja szybsza, bardziej kosztowna:
Skylinerem do dworca Keisei Ueno, a następnie na Gotanno i 8 min. pieszko lub taxi
czas: ok. 45 min. koszt: ok. 2500 jenów kosztuje (taxi z Gotanno dodatkowo 750 jenów)

Z Ueno można też dojechać do Kitasenju i tam przesiąść się na autobus Linii 47 (wysiąść na przystanku Senju Shakomae)
czas: w zależności od sposobu dotarcia an Ueno, koszt: jw. + 210 jenów za autobus

Taksówką też można przyjechać od Kitasenju (ok. 800 jenów)</p>
	 		</article>

	 		<article role="article" class="half force-height">

	 			<iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.5057091430167!2d139.8035157!3d35.7629521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e3a800816cb%3A0x9b81a3f000cba4cf!2s1+Chome-5-1+Umeda%2C+Adachi-ku%2C+T%C5%8Dky%C5%8D-to+123-0851!5e0!3m2!1spl!2sjp!4v1440668540766" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

	 		</article>
	 	</section>

	 	<figure id="contact" class="stripe-special bg-door" ></figure>

	 	<section>
	 		<article role="article" class="half">
	 			<h3>Kontakt</h3>
	 			<p class="text-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ducimus soluta, quis vero natus. Placeat atque neque nostrum unde cupiditate earum laborum laboriosam consectetur, quae dicta rerum, non rem porro quidem facere explicabo officiis sed totam in obcaecati, assumenda delectus praesentium numquam. Assumenda nesciunt nostrum nulla maiores quasi aliquid in tenetur vel, quos quam voluptates natus. Sapiente adipisci, vero veritatis error labore dolore voluptate! Dolores earum saepe dolorum nesciunt vero, eos laborum dignissimos commodi quo, minus nobipellendus obcaecati iste, quos nulla. Error, numquam perspiciatis animi veritatis debitis voluptatibus nostrum ipsa libero ducimus. Sint, veniam, inventore. Quos sed aliquid asperiores, iusto porro eius cupiditate tempora! Excepturi voluptates deleniti officiis voluptatum, id, molestiae officia a, veritatis consequatur natus nihil illum recusandae debitis obcaecati necessitatibus!</p>
	 		</article>

	 		<article role="article" class="half">
	 			<p class="text-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ducimus soluta, quis vero natus. Placeat atque neque nostrum unde cupiditate earum laborum laboriosam consectetur, quae dicta ruga aspernatur minus quaerat consequatur! Quam quos, neque iure laudantium facilis blanditiis eos exercitationem soluta eveniet ullam optio explicabo architecto iste tenetur perspiciatis, voluptatibus alias amet sed, quo necessitatibus saepe vero molestias. Ratione perspiciatis voluptatibus dolore dolor itaque rerum sapiente porro incidunt, hic nisi, provident soluta alias repellendus obcaecati iste, quos nulla. Error, numquam perspiciatis animi veritatis debitis voluptatibus nostrum ipsa libero ducimus. Sint, veniam, inventore. Quos sed aliquid asperiores, iusto porro eius cupiditate tempora! Excepturi voluptates deleniti officiis voluptatum, id, molestiae officia a, veritatis consequatur natus nihil illum recusandae debitis obcaecati necessitatibus!</p>
	 		</article>
	 	</section>

<footer role="contentinfo">
	<div class="container">
		<h6>Grace Chambre</h6>
		<p class="text-6"> Grace Chambre to Twoje miejsce w Tokio. </br> Będzie miło nam Was gościć. </p>

		<div class="contact-list">
			<div class="tab">
				<i class="fa fa-envelope "></i>
				<a class="link" href="mailto:gracechambre@gmail.com" >gracechambre@gmail.com</a>
			</div>

			<div class="tab">
				<i class="fa fa-twitter-square "></i>
				<a class="link" href="https://twitter.com/gracechambre">Twitter</a>
			</div>

			<div class="tab">
				<i class="fa fa-facebook-square "></i>
				<a class="link" href="https://www.facebook.com/gracechambre">	Facebook</a>
			</div>

			<div class="tab">
				<i class="fa fa-compass "></i>
				<a class="link" href="https://goo.gl/maps/KOtcB" >Tokyo-Adachi-Umeda 1-5-1</a>
			</div>
		</div>

		<!-- <p class="text-left">2015</p> -->
		<p class="text-right"> <a class="link text-by" href="http://code73.net/">by Code73</a> / 2015</p>
	</div>
</footer>
</div> <!-- container -->

<div id="loading-page">
	<div class="spiner">
		<i class="fa fa-cog fa-spin"></i>
	</div>
</div>

</body>
</html>

source/jade/index.jade
extends docwrapper

block content
	figure(role="banner" class="hero bg-hero")
	header
		h1(id="about") Grace Chambre
		nav(role="navigation")
			ul(class="navbar")
				li(class="tab")
					a(href="#about") o nas
				li(class="tab")
					a(href="#home") dom
				li(class="tab")
					a(href="#room") pokój
				li(class="tab")
					a(href="#map") mapa
				li(class="tab")
					a(href="#contact") kontakt

	section(class="remove-border-top no-height")
		article(class="big" role="article")
			p(class="text-3")
				include about.txt

	figure(id="home" class="stripe bg-home")
	section(class="no-height")
		blockquote
			include quote.txt

	div(id="room" class="Video-Container")
		iframe(src="https://www.youtube.com/embed/OlC0uSCISZ0?loop=1&autohide=1&controls=1&showinfo=0&modestbranding=1"
									frameborder="0"
									allowfullscreen
									width="100%"
									height="100%")
	section(id="info" class="height-oversize")
		article(class="third" role="article")
			h3 Pokój
			p(class="text-4")
				include info-a.txt
		article(class="third" role="article")
			h3 Warunki
			p(class="text-4")
				include info-b.txt
		article(class="third" role="article")
			h3 Cena
			p(class="text-4")
				include info-c.txt

	figure(id="map" class="stripe-special bg-map")
	section(class="overflow-bug")
		article(class="half" role="article")
			h3 Umeda
			p(class="text-4 text-5")
				include umeda.txt
		article(class="half" role="article")
			iframe(class="google-maps"
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.5057091430167!2d139.8035157!3d35.7629521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e3a800816cb%3A0x9b81a3f000cba4cf!2s1+Chome-5-1+Umeda%2C+Adachi-ku%2C+T%C5%8Dky%C5%8D-to+123-0851!5e0!3m2!1spl!2sjp!4v1440668540766"
										width="100%"
										height="100%"
										frameborder="0"
										style="border:0"
										allowfullscreen)

	footer(id="contact" role="contentinfo")
		div(class="container")
			h6 Grace Chambre
			p(class="text-6 breakpoint-small")
				include contact-mobile.txt
			div(class="contact-list")
				div(class="tab")
					i(class="fa fa-envelope")
					a(class="link" href="mailto:gracechambre@gmail.com") gracechambre@gmail.com
				div(class="tab")
					i(class="fa fa-twitter-square")
					a(class="link" href="https://twitter.com/gracechambre") Twitter
				div(class="tab")
					i(class="fa fa-facebook-square")
					a(class="link" href="https://www.facebook.com/gracechambre") Facebook
				div(class="tab")
					i(class="fa fa-compass")
					a(class="link" href="https://goo.gl/maps/KOtcB") Tokyo-Adachi-Umeda 1-5-1

		div(class="by")
			p(class="text-by")
				a(class="link-by" href="http://code73.net/") by Code73
